@use "@styles/variables";
@use "@styles/colors";

.header {
    margin-top: variables.$xl-spacing;
    margin-bottom: variables.$s-spacing;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: variables.$m-spacing;
}

.ai {
    padding: 10px;
    border-radius: 15px;
    border: 1px solid colors.$accent-color;
    background-color: colors.$accent-color-soft;
    display: inline-block;

    @media screen and (max-width: 375px) {
        display: none;
    }
}
