$bg-color: var(--bg-color);

$accent-color: var(--accent-color);
$active-accent-color: var(--active-accent-color);
$accent-color-soft: var(--accent-color-soft);

$primary-text-color: var(--primary-text-color);
$secondary-text-color: var(--secondary-text-color);
$accent-text-color: var(--accent-text-color);

// Button
$button-bg-color: var(--button-bg-color);
$button-text-color: var(--button-text-color);
$button-active-bg-color: var(--button-active-bg-color);
$button-active-text-color: var(--button-active-text-color);

$button-outline-bg-color: var(--button-outline-bg-color);

$button-disabled-bg-color: var(--button-disabled-bg-color);

// Input
$input-bg-color: var(--input-bg-color);
$input-placeholder-color: var(--input-placeholder-color);
$input-border-color: var(--input-border-color);

$input-disabled-bg-color: var(--input-disabled-bg-color);
$input-disabled-text-color: var(--input-disabled-text-color);
$input-disabled-border-color: var(--input-disabled-border-color);

// Chechbox
$checkbox-bg-color: var(--checkbox-bg-color);
$checkbox-hover-bg-color: var(--checkbox-hover-bg-color);
$checkbox-disabled-bg-color: var(--checkbox-disabled-bg-color);

$checkbox-border-color: var(--checkbox-border-color);
$checkbox-disabled-border-color: var(--checkbox-disabled-border-color);

$disabled-color: var(--disabled-color);

// Card
$card-bg-color: var(--card-bg-color);
$card-border-color: var(--card-border-color);

$card-hover-bg-color: var(--card-hover-bg-color);
$card-hint-color: var(--card-hint-color);

// Image
$image-bg-color: var(--image-bg-color);

// Menu
$menu-border-color: var(--menu-border-color);

// skeleton-bg-color
$skeleton-bg-color: var(--skeleton-bg-color);
$skeleton-gradient: var(--skeleton-gradient);

// Slider
$nav-button-bg-color: var(--nav-button-bg-color);
$nav-button-shadow: var(--nav-button-shadow);

// Toast
$success: var(--success-color);
$error: var(--error-color);
