@use "@styles/variables";
@use "@styles/colors";
@use "@styles/mixins";

.title {
    margin-top: variables.$xl-spacing;
    margin-bottom: variables.$s-spacing;
}

.subtitle {
    margin-bottom: variables.$l-spacing;
}

.card {
    display: grid;
    gap: variables.$s-spacing;
    padding: variables.$l-spacing;

    @include mixins.adaptive(
        padding,
        variables.$s-spacing,
        variables.$m-spacing,
        variables.$l-spacing,
        variables.$l-spacing
    );

    border-radius: variables.$border-radius;
    background-color: colors.$card-bg-color;
    border: 1px solid colors.$card-border-color;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: variables.$m-spacing;

    flex-wrap: wrap;
}

.actions {
    display: flex;
    gap: variables.$s-spacing;
    margin-top: variables.$m-spacing;
}

.center {
    display: flex;
    justify-content: center;
    margin-top: variables.$xl-spacing;
}
