$bg-color: #141414;

$accent-color: #e50914;
$active-accent-color: #b20710;

$primary-text-color: #ffffff;
$secondary-text-color: #b3b3b3;
$accent-text-color: $accent-color;

// Button
$button-bg-color: $accent-color;
$button-text-color: #ffffff;
$button-active-bg-color: $active-accent-color;
$button-active-text-color: #ffffff;

$button-outline-bg-color: $bg-color;

$button-disabled-bg-color: #d9d9d9;

// Input
$input-bg-color: #181818;
$input-placeholder-color: #8c8c8c;
$input-border-color: #333333;

$input-disabled-bg-color: #111111;
$input-disabled-text-color: #666666;
$input-disabled-border-color: #222222;

// Chechbox
$checkbox-bg-color: #141414;
$checkbox-hover-bg-color: #1f1f1f;
$checkbox-disabled-bg-color: #14141480;

$checkbox-border-color: #b3b3b3;
$checkbox-disabled-border-color: #444444;

$disabled-color: #444444;

// Card
$card-bg-color: #1e1e1e;
$card-border-color: #ffffff0f;

$card-hover-bg-color: #232323;
$card-hint-color: rgba(0, 0, 0, 0.8);

// Image
$image-bg-color: #2a2a2a;

// Menu
$menu-border-color: #222222;

// skeleton-bg-color
$skeleton-bg-color: #2a2a2a;
$skeleton-gradient: linear-gradient(
    90deg,
    #ffffff00 0%,
    #ffffff1f 45%,
    #ffffff1f 55%,
    #ffffff00 100%
);

// Slider
$nav-button-bg-color: black;
$nav-button-shadow: 0px 4px 20px #afadb533;
