$loader_large_padding: 10px;
$loader_medium_padding: 8px;
$loader_small_padding: 4px;

$loader_large_size: 40px;
$loader_medium_size: 32px;
$loader_small_size: 16px;

$border-radius: 6px;
$xxl-spacing: 100px;
$xl-spacing: 64px;
$l-spacing: 48px;
$m-spacing: 32px;
$s-spacing: 24px;
$xs-spacing: 16px;
$xxs-spacing: 8px;

$card-height: 670px;
